.entry table th, .entry table td {
    border: 1px solid #CCCCCC;
    padding: 7px;
}

.btns{
    -moz-user-select: none;
    background-color: #F8F8F8;
    border: 1px solid #CCCCCC;
    border-radius: 3px;
    color: #333333;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    display: inline-block;
    font-size: 13px;
    font-weight: 700;
    height: 24px;
    width:60px;
    margin-right:5px;
    line-height: 12px;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

.btns:hover, .btn:focus {
    background-position: 0 -15px;
    color: #333333;
    text-decoration: none;
    transition: background-position 0.1s linear 0s;
}

.btn-primary{
    background-color: #006DCC;
    background-image: linear-gradient(to bottom, #0088CC, #0044CC);
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    color: #FFFFFF;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .btn-primary.disabled, .btn-primary[disabled] {
    background-color: #0044CC;
    color: #FFFFFF;
}

.well {
    background-color: #F5F5F5;
    border: 1px solid #E3E3E3;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05) inset;
    margin-bottom: 20px;
    min-height: 20px;
    padding: 19px;
}
.ui-tabs-selected{
    background-color: #0D2040;
}

.menu-header{
    border:solid 1px black;
    width:100px; 
    height:50px;
    padding: 10px 10px 10px 10px;
}

.tabContent {
    background-color: #FFFFFF;
    border-bottom: 1px solid #999999;
    border-radius: 0;
    border-right: 1px solid #999999;
    border-top: 1px solid #999999;
    float: left;
    font-size: 12px;
    height: 404px;
    padding: 10px 10px 30px;
}



#close_div_button {
    line-height: 15px;
    width: 15px;
    font-size: 8pt;
    font-family: tahoma;   
    position:absolute; 
    top:0;
    right:0;
}

* {
  -moz-box-sizing: border-box;
  box-sizing: content-box;
}

.hint{
    height:40px;
    width:40px;
    margin-left:25px;
}