.dropzone{
    border: 2px dashed #020258;
    padding: 50px;
    font: 20pt bold;
    text-align: center;
    color: #020258;
    margin: 25px 0 25px 0;
}

.image-container {
    width: 400px;
    height: 400px;
}

.image-container img {
    max-width: 100%;   
}

.newImage{
	max-width:250px; 
	max-height:250px;
}

.base64Area{
	vertical-align:middle;
	width:800px; 
	height:800px;
}