/* Facebook page */


.albumButton{
  height:100%;
  width:80px;
}

.scrollPictures{
  overflow-x:scroll; 
  height:420px;
  width:100%;
  margin:10px;
}

.ulScroll {
  list-style:none; 
  display:block;
  white-space:nowrap;
}

.liScroll{
  float:left; 
  display:inline;
}

.imgScroll{
  height:400px;
  margin-right:5px;
}