table {
  border:1px solid #666;   
  width:100%;
  margin:0 10px 0 10px;
}
th {
  background: #f8f8f8; 
  font-weight:bold;    
  padding:2px 5px 2px 5px;
  border: solid;
  border-width: 1px 0;
}

td {
	padding:0px 5px 0px 5px;
	vertical-align: top;
	text-align: left;
}


h2 {
  text-align: left;
  line-height: 1;
  color: #3399FF;
  border-bottom: thin solid;
  padding: 0 0 0.2em 0;
  font-weight: bold;
  text-transform: uppercase;
  clear: both;
  margin-top: 2em;
}

h4 {
  text-align: left;
  color: #006666;
  padding: 0 0 0.2em 0;
  font-weight: bold;
  clear: both;
  margin: 1em 0 1em 2em;
}

h5 {
  text-align: left;
  font-weight: bold;
  clear: both;
  margin-top: 1em;
}

label {
  margin-right: 1em;
}