<ng:include src="'views/header.html'"></ng:include>


<div>  
  <h4> Content</h4>
  <ul>
    <li><a href= "#/aboutme#me"> Jimmy Tran </a>
    <li><a href= "#/aboutme#thanks"> Acknowledgments</a>
    <li><a href= "#/aboutme#contact"> Contact</a>
  </ul>

  <h4 id="me"> Jimmy Tran </h4>
    This web application was developed by Jimmy Tran, a French student aiming to be an IT engineer and currently studying at Plymouth University (2013-2014) to obtain a degree in MSc Computer Science.

  <h4 id="thanks"> Acknowledgments </h4>

  This section is dedicated to the persons who directly or indirectly contributed to the project.
  Firstly, I would like to thanks Dr. Shirley Atkinson, lecturer in Information Systems and my supervisor for my MSc project, who guided me through this project and took on her time to advise me.
  Secondly, this project was not entirely developed from scratch. Indeed, several functionalities come from projects developed by other developers and that is why I would like to mention those developers who deserve most of the credits:

  <ul>
    <li>
    <li>
  </ul>


  <h4 id="contact"> Contact </h4>

  For any questions or requests, my e-mail address is: jtran1403@gmail.com

</div>

