<ng:include src="'views/header.html'"></ng:include>


<div>  
  <h4> Content</h4>
  <ol type="I">
    <li><a href= "#/aboutme#me"> Jimmy Tran </a></li>
    <li><a href= "#/aboutme#thanks"> Acknowledgments</a></li>
    <li><a href= "#/aboutme#contact"> Contact</a></li>
  </ol>

  <h4 id="me"> Jimmy Tran </h4>
    <p>This web application was developed by Jimmy Tran, a French student aiming to be an IT engineer and currently studying at Plymouth University (2013-2014) to obtain a degree in MSc Computer Science.</p>

  <h4 id="thanks"> Acknowledgments </h4>

  <p>This section is dedicated to the persons who directly or indirectly contributed to the project.<br/>
  Firstly, I would like to thanks Dr. Shirley Atkinson, lecturer in Information Systems and my supervisor for my MSc project, who guided me through this project and took on her time to advise me.<br/>
  Secondly, this project was not entirely developed from scratch. Indeed, several functionalities are inspired from projects of four developers who deserve a lot of credits for their work:</p>
  <ul>
    <li> Almog Baku: <a href="https://github.com/GoDisco/ngFacebook">https://github.com/GoDisco/ngFacebook</a> </li>
    <li> Moritz Meyer: <a href="https://github.com/mrzmyr/angular-google-plus">https://github.com/mrzmyr/angular-google-plus</a></li>
    <li> Louis Sivillo: <a href="https://gist.github.com/lsiv568/5623361">https://gist.github.com/lsiv568/5623361</a></li>
    <li> Jacob Seidelin: <a href="https://github.com/jseidelin/exif-js">https://github.com/jseidelin/exif-js</a></li>
  </ul>

  <h4 id="contact"> Contact </h4>
    <p>For any questions or requests, my e-mail address is: jtran1403@gmail.com. The current project is available at this URL: <a href="https://github.com/jtran1403/SearchGuardian"> https://github.com/jtran1403/SearchGuardian </a></p>
</div>


 <style>
 p { text-indent : 25px; text-align: justify;}
 </style> 