<ng:include src="'views/header.html'"></ng:include>


<div>
  <h4> Content</h4>
  <ul>
    <li><a href= "#/documentation#goals">Goals of the SearchGuardian </a>
    <li><a href= "#/documentation#link" >Prototype</a>
    <li><a href= "#/documentation#howto">How to use the application</a>
  </ul>


  <h4 id="goals"> Goals of the SearchGuardian</h4>
  <p>
  This is an application developed in order to help internet users to protect their online privacy and be aware of information about them displayed without their knowledge and consent.

  None of the information input is saved on the server side, every information input by the user and retrieved through the applications should be deleted as long as the user logs out properly
  </p>

  <h4 id="links"> Context of the project </h4>

  This web application was developed as part of my MSc project 

  This is only a prototype of the SearchGuardian as the Web is so vast it will be hard to cover it all. The web application is still in development and the current project is available at this URL: <a href="https://github.com/jtran1403/SearchGuardian"> https://github.com/jtran1403/SearchGuardian </a>



  <h4 id="howto"> How to use the application </h4>
  The utilization of this application is very simple.



</div>
