<ng:include src="'views/header.html'"></ng:include>

<div>
  <h4> Content</h4>
  <ul>
    <li><a href= "#/documentation#goals">Goals of the SearchGuardian </a>
    <li><a href= "#/documentation#link" >Prototype</a>
    <li><a href= "#/documentation#how">How does the application work</a>
    <li><a href= "#/documentation#usage">How to use it</a>
  </ul>


  <h4> Goals of the SearchGuardian</h4>
  <p>
  This is an application developed in order to help internet users to protect their online privacy and be aware of information about them displayed without their knowledge and consent.

  None of the information input is saved on the server side, every information input by the user and retrieved through the applications should be deleted as long as the user logs out properly
  </p>

  <h4> Context of the project </h4>

  This web application was developed as part of my MSc project 

  This is only a prototype of the SearchGuardian as the Web is so vast it will be hard to cover it all. The web application is still in development and the current project is available at this URL: <a href="https://github.com/jtran1403/SearchGuardian"> https://github.com/jtran1403/SearchGuardian </a>


  <h4> How does it work</h4>

  The web application was developed using Yeoman (Grunt and Bower), AngularJS and Karma.


  <h4> Ethical considerations</h4>

  This section describes the ethical considerations of this project. Indeed, it is important to know that this web application is not security oriented. Else, it was for example possible to secure the Facebook token following the explanations provided on their website documentation. The web application runs locally at the moment, therefore 
  The testing of this web application was approved by Plymouth University on the XX to the XX.

  <h4> How to use the application </h4>
  If you can read this part, I will assume you already installed the software and correctly launched the application. Else, refer to the instructions provided on the README.rd file of the github link:

  When installed, you can try out the first functionalities implemented to this prototype.

</div>
