<ng:include src="'views/header.html'"></ng:include>

<div>
	<h4> Content</h4>
	<ol type="I">
		<li><a href= "#/explanations#overview"> Overview of privacy threats </a></li>
		<li><a href= "#/explanations#disclosure">Disclosure of information</a></li>
		<li><a href= "#/explanations#profiling">Profiling</a></li>
		<li><a href= "#/explanations#surveillance">Government surveillance</a></li>
		<li><a href= "#/explanations#references">References</a></li>
	</ol>

	<h4 id="overview"> Overview of privacy threats </h4>




	<h4 id="disclosure"> Disclosure of information </h4>




	<h4 id="profiling"> Profiling</h4>




	<h4 id="surveillance"> Government surveillanc</h4>




	<h4 id="references"> References</h4>




</div>