<ng:include src="'views/header.html'"></ng:include>

<body>
    <div class="container">
        
        <h3>{{status}}</h3>
        <button type="button" ng-click="logout()" ng-show="isLoggedIn" class="btn btn-default navbar-btn">
            Logout
        </button>

        <div ng-show="isLoggedIn" id = "PersonalInformation">
            <h2>Personal Information </h2>
                <h4> Profile information </h4>
                <table>
                    <td class="centeredObject">
                        <img ng-src="{{picture}}"/>
                    </td>
                    <td>
                        <ul>
                            <li> User ID: {{user.id}} <!-- {{auth.userID}} -->
                            <!--<li> Access Token: {{auth.accessToken}} -->
                            <li> Firstname: {{user.first_name}} 
                            <li> Lastname: {{user.last_name}}  
                            <li> Gender: {{user.gender}}  
                            <li> Birthday: {{user.birthday}} 
                            <li> Relationship: {{user.relationship_status}} 
                            <li> Email: {{user.email}} 
                            <li> Current location: {{user.location.name}}
                            <li> Hometown: {{user.hometown.name}}
                            <li> Public profile: <a href="{{user.link}}">{{user.link}}</a>
                            <li> <span ng-show="sports">Sports: </span><span ng-repeat="sport in sports">{{ sport.name }}{{$last ? '.' : ', '}}</span> 
                        </ul>
                    </td>
                </table>

                <h4> Education </h4>
                <table>
                    <tr>
                        <th>Type</th>
                        <th>Name</th>
                        <th>Year</th>
                        <th>Degree</th>
                        <th>Concentration</th>
                    </tr>
                    <tr ng-repeat="school in education">
                        <td>{{school.type}}</td>
                        <td>{{school.school.name}}</td>
                        <td>{{school.year.name}}</td>
                        <td>{{school.degree.name}}</td>
                        <td><span ng-show="school.concentration" ng-repeat="spec in school.concentration">{{ spec.name }}){{$last ? '.' : ', '}}  </span>
                    </tr>
                </table>
            <div ng-show="works">
                <h4> Work experience</h4>
                <table>
                    <tr>
                        <th>Employer</th>
                        <th>Start Date</th>
                        <th>End Date</th>
                    </tr>
                    <tr ng-repeat="work in works">
                        <td>{{work.employer.name}}</td>
                        <td>{{work.start_date}}</td>
                        <td>{{work.end_date}}</td>
                    </tr>
                </table>
            </div>
        </div>

        <div ng-show="isLoggedIn" id="Albums">
            <h2> Publications </h2>

            <div ng-show="isLoggedIn">
                <!--No filter applied <input type="radio" ng-model="privacyFilterSet" ng-value="3" ng-init="checked=true" ng-change="filterChanged()"><br/> -->
                Show publications available only to: <br/>

                <!--label ng-repeat="i in [0,1,2,3]"><input type="radio" ng-value="i" ng-model="privacyFilterSet" ng-change="filterChanged()" > {{privacyFilter.value[i]}} </label-->
                <label><input type="radio" ng-value="0" ng-model="privacyFilterSet" ng-change="albumFilterChanged()" > {{privacyFilter.value[0]}}</label>                
                <label><input type="radio" ng-value="1" ng-model="privacyFilterSet" ng-change="albumFilterChanged()" > {{privacyFilter.value[1]}}</label>                
                <label><input type="radio" ng-value="2" ng-model="privacyFilterSet" ng-change="albumFilterChanged()" > {{privacyFilter.value[2]}}</label>           
                <label><input type="radio" ng-value="3" ng-model="privacyFilterSet" ng-change="albumFilterChanged()" > {{privacyFilter.value[3]}}</label>
            </div>

                <h4> Albums </h4>
                <table>
                    <tr>
                        <th>Album name</th>
                        <th>Description</th>
                        <th>Who can see the content?</th>
                        <th>Created time</th>
                        <th>Link</th>
                    </tr>
                    <tr ng-repeat="album in albums" ng-if="(privacyFilterSet == 3) || ((album.privacy == 'everyone') && (privacyFilterSet == 0)) || ((album.privacy == 'friends') && (privacyFilterSet == 1)) || ((album.privacy == 'custom') && (privacyFilterSet == 2))">
                        <td class="centeredObject"><button ng-click="loadAlbum($index)" class="albumButton">{{album.name}}({{album.count}})</button></td>    
                        <td>{{album.description}}</td>
                        <td>{{album.privacy}}</td>
                        <td>{{album.created_time}}</td>
                        <td> <a href="{{album.link}}">{{album.link}}</a></td>
                    </tr>
                </table>

                <div ng-show = "albumSelected">

                    Pictures of the album selected:
                    <button type="button" ng-show="!isAlbum" ng-click="showAlbum()" class="btn btn-default navbar-btn"> Show album </button>
                    <button type="button" ng-show="isAlbum" ng-click="closeAlbum()" class="btn btn-default navbar-btn"> Close album </button>
                    
                    <div ng-show = "isAlbum"  class="scrollPictures">
                        <ul class = "ulScroll">
                            <li class="liScroll"><span ng-repeat="photo in photos"><img ng-src="{{photo.source}}" class="imgScroll" ></span>
                        </ul>
                    </div>

                </div>
                <h4> Feed (posts, shares, likes, etc.) </h4>

                    Show the content of your activity log:
                    <button type="button" ng-show="!isFeed" ng-click="showFeed()" class="btn btn-default navbar-btn"> Show feed </button>
                    <button type="button" ng-show="isFeed" ng-click="hideFeed()" class="btn btn-default navbar-btn"> Hide feed </button>
                 
                    <div ng-show="isFeed" id = "PublicOnly2">
                        Show publications available only to: <br/>
                        <label><input type="radio" ng-value="0" ng-model="privacyFilterSet2" ng-change="feedFilterChanged()" > {{privacyFilter.value[0]}}</label>                
                        <label><input type="radio" ng-value="1" ng-model="privacyFilterSet2" ng-change="feedFilterChanged()" > {{privacyFilter.value[1]}}</label>                
                        <label><input type="radio" ng-value="2" ng-model="privacyFilterSet2" ng-change="feedFilterChanged()" > {{privacyFilter.value[2]}}</label>           
                        <label><input type="radio" ng-value="4" ng-model="privacyFilterSet2" ng-change="feedFilterChanged()" > {{privacyFilter.value[4]}}</label>                        
                        <label><input type="radio" ng-value="3" ng-model="privacyFilterSet2" ng-change="feedFilterChanged()" > {{privacyFilter.value[3]}}</label>
                    </div>

                    <div ng-show = "isFeed" ng-repeat="activity in feed" ng-if="(privacyFilterSet2 == 3) || ((activity.privacy.value == 'EVERYONE') && (privacyFilterSet2 == 0)) || ((activity.privacy.value == 'ALL_FRIENDS') && (privacyFilterSet2 == 1)) || ((activity.privacy.value == 'CUSTOM') && (privacyFilterSet2 == 2)) || ((activity.privacy.value == '') && (privacyFilterSet2 == 4)) ">
                        <h5> {{activity.type}}: <span ng-if = "activity.story">{{activity.story}}</span><span ng-if = "activity.message">{{activity.message}}</span> </h5>
                        <ul>
                            <li> ID: {{activity.id}}
                            <li> Link: <a href="{{templateLink}}{{activity.id | splitID:'_':1}}">{{templateLink}}{{activity.id | splitID:'_':1}}</a>
                            <li> Created time: {{activity.created_time}}
                            <li> Privacy: {{activity.privacy.description}}<span ng-if = "!activity.privacy.value"> No value, refer to the documentation.</span>
 
                        </ul>
                    </div>
<!--Same privacy setting as the wall, group or event of the original post and probably visible to everyone (see Facebook's privacy policy)-->
        </div>

        <button type="button" ng-click="login()" ng-show="!isLoggedIn" class="btn btn-default navbar-btn">
            Login
        </button>
        <img src="images/hint_button_selfmade_JT.PNG" class="hint"></img>
        <button type="button" ng-click="logout()" ng-show="isLoggedIn" class="btn btn-default navbar-btn">
            Logout
        </button>
    </div>

    <div id="fb-root">
    </div>
</body>
