<ng:include src="'views/header.html'"></ng:include>
<body>
    <div class="container">
        <h4>
            {{welcomeMsg}}{{status}}
        </h4>

        <!--fb:login-button scope="public_profile,email" onlogin="statusChangeCallback();" data-auto-logout-link="true">
		</fb:login-button-->

        <button type="button" ng-click="login()" ng-hide="isLoggedIn" class="btn btn-default navbar-btn">
            Login
        </button>
        <button type="button" ng-click="logout()" ng-hide="!isLoggedIn" class="btn btn-default navbar-btn">
            Logout
        </button>
    </div>

    <div id="fb-root">
    </div>
</body>
