<ng:include src="'views/header.html'"></ng:include>

<div class="jumbotron">
  <h1>Welcome!</h1>
  <p class="lead">
    SearchGuardian Application prototype
  </p>
  This web application aims to help you be more aware of the personal information available about you and to help you remove it directly or by giving you instructions if it is impossible to do it through the application. Refer to the documentation for more details.
</div>  

<div>

  <div id="searchTargets" style="margin-top:25px">
    <p><a class="btn btn-default navbar-btn" href="#/Facebook"> Facebook </a></p>
    <p><a class="btn btn-default navbar-btn" href="#/LinkedIn"> LinkedIn </a></p>
    <p><a class="btn btn-default navbar-btn" href="#/Google"> Google </a></p>
    <p><a class="btn btn-default navbar-btn" href="#/pictures"> Geolocation&pictures </a></p>
    <!--btn btn-lg btn-success-->
  </div>

</div>

<div class="footer">
  <p><span class="glyphicon glyphicon-heart"></span> Application based on the basic application from the Yeoman team.</p>
</div>
