<ng:include src="'views/header.html'"></ng:include>

<div>
      <div id="sliderFrame">
          <div id="slider">
              <img src="images/jsImgSlider/slide1.PNG" />
              <img src="images/jsImgSlider/slide2.PNG" />
          </div>
          <!--Custom navigation buttons on both sides-->
          <div class="group1-Wrapper">
              <a onclick="imageSlider.previous()" class="group1-Prev"></a>
              <a onclick="imageSlider.next()" class="group1-Next"></a>
          </div>
          <!--nav bar-->
          <div style="text-align:center;padding:20px;z-index:20;">
              <a onclick="imageSlider.previous()" class="group2-Prev"></a>
              <a id='auto' onclick="switchAutoAdvance()"></a>
              <a onclick="imageSlider.next()" class="group2-Next"></a>
          </div>
      </div>
</div>

<div style="height:175px;vertical-align:middle;">   
  <h4>Before your start, do the following: </h4>
  <table class="beforeStart enlightedTable" style="float:left; margin: 0 15px 0 50px">
    <tr>
      <td style="padding:10px">
        Modify the URL <b>127.0.0.1:9000/ into localhost:9000/</b> (for Facebook features to function).
      </td>
    </tr>
  </table>

  <label class="plus"> + </label>

  <table class="beforeStart enlightedTable" style="float:right; margin: 0 50px 0 15px">
    <tr>
      <td style="padding:10px">
        Make sure plugins like <b>AdBlockPlus</b> are deactivated for the page of the application and that Javascript is activated.
      </td>
    </tr>
  </table>
</div>

<div style="height:200px;">
  <h4>Services</h4>
  <table class="services">
    <tr>
        <th>Social Communities</th>
    </tr>
    <tr>
      <td>
        <button class="btn btn-default navbar-btn" onclick="location.replace('#/Facebook');location.reload();"> Facebook </button>
      </td>      
    </tr>
  </table>

  <table class="services" style ="width:24%">
    <tr>
        <th>Professional networks</th>
    </tr>
    <tr>
      <td>
        <button class="btn btn-default navbar-btn" onclick="location.replace('#/LinkedIn');location.reload();"> LinkedIn </button>
      </td>      
    </tr>
  </table>

  <table class="services">
    <tr>
        <th>Profiling</th>
    </tr>
    <tr>
      <td>
        <button class="btn btn-default navbar-btn" onclick="location.replace('#/pictures');location.reload();"> EXIF Data</button>
      </td>      
    </tr>
  </table>

  <table class="services">
    <tr>
        <th>Others</th>
    </tr>
    <tr>
      <td>
        <button class="btn btn-default navbar-btn" onclick="location.replace('#/Google');location.reload();"> Google </button>
      </td>      
    </tr>
  </table>

</div>

<script type="text/javascript">
    /* http://www.menucool.com */
    //The following script is for the group 2 navigation buttons.
    function switchAutoAdvance() {
        imageSlider.switchAuto();
        switchPlayPauseClass();
    }
    function switchPlayPauseClass() {
        var auto = document.getElementById('auto');
        var isAutoPlay = imageSlider.getAuto();
        auto.className = isAutoPlay ? "group2-Pause" : "group2-Play";
        auto.title = isAutoPlay ? "Pause" : "Play";
    }
    switchPlayPauseClass();
</script>