<ng:include src="'views/header.html'"></ng:include>

<div class="jumbotron">
  <h1>Welcome!</h1>
  <p class="lead">
    SearchGuardian Application prototype
  </p>
  Click on the buttons below to discover what information is available about you. Refer to the documentation for more details.
</div>  

<div>
  <h4>Search targets</h4>

  <div id="searchTargets" style="margin-top:25px">
    <!--label ng-repeat= "target in targets">
      <p><input type="checkbox" name="target.name" value="target.id"  ng-click="updateSelection(target.id)" check-list="selection"> {{target.name}} </p>
    </label>
    <pre class="ng-binding"> {{selection|json}} </pre-->

    <p><a class="btn btn-lg btn-success" href="#/targets/Facebook"> Facebook <span class="glyphicon glyphicon-ok"></span></a></p>

    <p><a class="btn btn-lg btn-success" href="#/targets/LinkedIn"> LinkedIn <span class="glyphicon glyphicon-ok"></span></a></p>

    <p><a class="btn btn-lg btn-success" href="#/user-info/"> Google <span class="glyphicon glyphicon-ok"></span></a></p>
  </div>
  
</div>

<div class="footer">
  <p><span class="glyphicon glyphicon-heart"></span> Application based on the basic application from the Yeoman team</p>
</div>
