
<body>
	<!-- header -->
	<ng:include src="'views/header.html'"></ng:include>
	<!-- body -->

	<div ng-show="loggedUser">
		<button class="btn btn-default navbar-btn" style="margin-top:0px;" type="button" ng-click="logoutLinkedIn()">Logout</button>
		<img src="images/hint_button_selfmade_JT.PNG" class="hint" ns-popover-template="templates/linkedIn/logoutTemplate.html" ns-popover ns-popover-theme="ns-popover-tooltip-theme" ns-popover-placement="right|center"></img>
	</div>

	<div id="appBody">
		<div ng-show="loggedUser">
			<h2>LinkedIn API data
			<img src="images/hint_button_selfmade_JT.PNG" class="hint" ns-popover-template="templates/linkedIn/privacySettingsTemplate.html" ns-popover ns-popover-theme="ns-popover-tooltip-theme" ns-popover-placement="right|top"></img>
			</h2>
				<h4> Personal information </h4>
				<a href="{{userprofile.publicProfileUrl}}" target="_blank"> 
					<img style="margin:0 0 10px 50px" ng-src="{{userprofile.pictureUrl}}"/>
				</a>
					<ul>
						<li> ID: {{userprofile.id}} 
						<li> Firstname: {{userprofile.firstName}} 
						<li> Lastname: {{userprofile.lastName}}
						<li> <span ng-show="userprofile.maidenName">MaidenName: {{userprofile.maidenName}}</span>
						<li> <span ng-show="userprofile.dateOfBirth">Date of birth: {{userprofile.dateOfBirth.day}}/{{userprofile.dateOfBirth.month}}/{{userprofile.dateOfBirth.year}}</span>
						<li> Address: <span ng-show="userprofile.mainAddress"> {{userprofile.mainAddress}} </span>
							<span ng-show="!userprofile.mainAddress"> Not available </span>
						<li> Location: {{userprofile.location.name}} ({{userprofile.location.country.code}})
						<li> Contacts: {{userprofile.numConnections}} {{numConnectionsCapped}}
						<li> Phone numbers:<span ng-show="userprofile.phoneNumbers._total" ng-repeat="phonenumber in phoneNumbers.values"> {{phonenumber.phoneNumber}}({{phonenumber.phoneType}}){{$last ? '.' : ', '}} </span><span ng-show="!userprofile.phoneNumbers._total"> None available</span>
						<li> Last update: {{userprofile.lastModifiedTimestamp|date:'medium'}}
					</ul>

				<h4> Job related information </h4>
					<ul>
						<li> Headline: {{userprofile.headline}} 
						<li> Specialities: Cannot be shown via API connection
						<li> Summary: Cannot be shown via API connection
						<li> <span ng-show="userprofile.industry">Industry: {{userprofile.industry.description}} ({{userprofile.industry.code}})</span>
					</ul>
					
					<table>
					    <tr>
					        <th>ID</th>
					        <th>Title</th>
					        <th>Start</th>
					        <th>End</th>
					        <th>Company</th>
					        <th>CompanyID</th>
					        <th>Industry</th>
					        <th>Size</th>
					        <th>Ticker</th>
					        <th>Type</th>
					    </tr>
					    <tr ng-repeat="position in positions">
					        <td>{{position.id}}</td>
					        <td>{{position.title}}</td>
					        <td><span ng-show="position.startDate">{{position.startDate.month}}/{{position.startDate.year}}</span></td>
					        <td><span ng-show="position.endDate">{{position.endDate.month}}/{{position.endDate.year}}</span></td>
					        <td>{{position.company.name}}</td>
					        <td>{{position.company.id}}</td>
					        <td>{{position.company.industry}}</td>
					        <td>{{position.company.size}}</td>
					        <td>{{position.company.ticker}}</td>
					        <td>{{position.company.type}}</td>
					    </tr>
					</table>

				<h4> Other information </h4>
					<ul>
						<li> <span ng-show="userprofile.interests">Interests: {{userprofile.interests}}</span>
						<li> <span ng-show="userprofile.associations">Associations: {{userprofile.associations}} </span>

						<!-- ._total if not displayed as collections instead of text -->
						<li> <span ng-show="userprofile.publications._total">Publications: </span>
							<span ng-repeat="publication in publications">{{ publication.title }} published in {{publication.date.year}} ({{<a href="{{publication.url}}" target="_blank"> {{publication.url}}</a>}}){{$last ? '.' : ', '}}  </span>

						<li> <span ng-show="userprofile.patents._total">Patents: </span>
							<span ng-repeat="patent in patents">{{ patent.title }} granted in {{patent.date.year}} ({{<a href="{{publication.url}}" target="_blank"> {{publication.url}}</a>}}){{$last ? '.' : ', '}}  </span>


						<li> <span ng-show="userprofile.languages._total">Languages: </span>
							<span ng-repeat="language in languages.values">{{ language.language.name }}{{$last ? '.' : ', '}}  </span>

						<li> <span ng-show="userprofile.skills._total">Skills: </span>
							<span ng-repeat="skill in skills">{{ skill.skill.name }}{{$last ? '.' : ', '}}  </span>

						<li> <span ng-show="userprofile.educations._total">Educations: 
							<span ng-repeat="education in educations">{{education.schoolName}} from {{education.startDate.year}} to {{education.endDate.year}}{{$last ? '.' : ', '}} </span>

						<li> <span ng-show="userprofile.courses._total">Courses: </span>
							<span ng-repeat="course in courses">{{ course.name }}{{$last ? '.' : ', '}}  </span>

						<li> <span ng-show="userprofile.volunteer._total">Volunteer: {{userprofile.volunteer}} )</span>
							<span ng-repeat="volunteer in volunteers">{{ volunteer.role }} for {{volunteer.organization.name}}{{$last ? '.' : ', '}}  </span>
					</ul>

				<h4>Your profile</h4>
					<ul>
						<li> Public profile: <a href="{{userprofile.publicProfileUrl}}" target="_blank"> {{userprofile.publicProfileUrl}}</a>
						<li> Full profile: <a href="{{userprofile.siteStandardProfileRequest.url}}" target="_blank"> {{userprofile.siteStandardProfileRequest.url}}</a>
					</ul>
					<button class="btn btn-default navbar-btn" style="margin-top:0px;" type="button" ng-click="logoutLinkedIn()">Logout</button> 
					<img src="images/hint_button_selfmade_JT.PNG" class="hint" ns-popover-template="templates/linkedIn/logoutTemplate.html" ns-popover ns-popover-theme="ns-popover-tooltip-theme" ns-popover-placement="right|center"></img>
				
		</div>

		<div>
			<div ng-show="!loggedUser">
				<p>Please sign in with your LinkedIn account.
					<img src="images/hint_button_selfmade_JT.PNG" class="hint" ns-popover-template="templates/linkedIn/loginTemplate.html" ns-popover ns-popover-theme="ns-popover-tooltip-theme" ns-popover-placement="right|center"></img>
				</p>
				<script type="IN/Login"></script>
			</div>
		</div>

		<hr>
		<footer>
			<p>LinkedIn functionalities inspired from the repository published by <a href="https://github.com/eucuepo/angular-linkedin">Eugenio Cuevas</a></p>
		</footer>
	</div>
</body>

<style>
li {
    list-style:none;
    background-image:none;
    background-repeat:none;
    background-position:0; 
}
</style>
