<ng:include src="'views/header.html'"></ng:include>

<div class="dropzone" draggable="true" file-dropzone="[image/png, image/jpeg, image/gif]" file="image" file-name="imageFileName" data-max-file-size="3">
	<span>Drop Image (.png, .jpeg, .gif)</span>

</div>

<div>
	<span>
		<select ng-model="removedEXIF">
			<option value="false" ng-selected = "!removedEXIF"> Your picture </option>
			<option value="true" ng-disabled ="!image"> Picture without EXIF data </option>
		</select>
	</span><br/>
</div>

<div ng-hide = "removedEXIF" class="image-container">
	<span ng-show="image">Filename: {{imageFileName}}</span><br/>
	<img id="imageDragged" ng-src={{image}} />
	<span id="exif"></span>
</div>	

<div ng-show = "removedEXIF">
	<textarea id="textarea" style="width:100%; height:300px"></textarea>
	<input id="download" type="button" value="Download">
</div>


<script>
	document.getElementById("imageDragged").onload = function(){
		getData(this, function() {
			document.getElementById("exif").innerHTML = pretty(this);
			document.getElementById("textarea").value = document.getElementById("exif").value;
	    });		
	};

(function (view){
	document = view.document;
	document.getElementById('download').onclick = function(){
		get_blob = function() {
		return view.Blob;
	}
	var tmp = document.getElementById("textarea").value;
	var bb = get_blob();
	var blob = new bb([tmp], {type: "text/plain;charset=" + document.characterSet});
	saveAs(blob, "test.txt");
	}
}(self));

</script>


