


<div class="header">
  <ul class="nav nav-pills pull-right">
    <li class="active"><a href="#/">Home</a></li>
    <li><a href="#/">About</a></li>
    <li><a href="#/">Contact</a></li>
  </ul>
  <h3 class="text-muted">SearchGuardian</h3>
</div>



<div class="userInformation well" ng-controller= "UserInfoCtrl">
  <h4> Enter the target's information:</h4>
  <form>
    <p> First Name:
      <input type="text" id ="firstName" ng-model="firstName"/> {{ firstName }}</p>
    <p> Last Name: 
      <input type="text" id ="lastName" ng-model="lastName"/> {{ lastName }}</p> 
    <p> Date of birth:
      <select id="days" class="DoB"></select>
      <select id="months" class="DoB"></select>
      <select id="years" class="DoB"></select></p>

      <input type="hidden" ng-model="id" />

    <p>
      <input type="button" value="Confirm" class="btns btn-primary" onClick="showDivs();" />
      <input type="button" value="Reset" class="btns btn-primary" ng-click="" />
    </p>
  </form>
</div>

<div id="userInformationConfirm" style="display:none">
  <table class = "table table-striped table-bordered">
    <thead>
    <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Date of birth</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="user in users">
        <td>{{ user.firstName }}</td>
        <td>{{ user.lastName }}</td>
        <td>{{ user.DoB }}</td>
        <td>
            <a  href="#" ng-click="edit(contact.id)">edit</a>
        </td>
     </tr>
    </tbody>
  </table>  
</div>

<div id="searchTargets" style="display:none">
  <h4> Select search targets:</h4>
  <form>
    <input type="checkbox" name="targets" value="Facebook"> Facebook <br>
    <input type="checkbox" name="targets" value="LinkedIn"> LinkedIn 
  </form> 
</div>

<div class="footer">
  <p><span class="glyphicon glyphicon-heart"></span> Application based on the basic application from the Yeoman team</p>
</div>

<script>

  $(function() {
    for (i = new Date().getFullYear(); i > 1900; i--)
    {
        $('#years').append($('<option />').val(i).html(i));
    }
        
    for (i = 1; i <= 12; i++)
    {
        $('#months').append($('<option />').val(i).html(i));
    }
    
    updateDays(); 
        
    $('#years, #months').change(function(){
        updateDays(); 
    });

  });

  function updateDays(){
    $('#days').html('');
    month = $('#months').val();
    year = $('#years').val();
    days = updateMonth(month, year);

    for(i=1; i < days+1 ; i++)
    {
        $('#days').append($('<option />').val(i).html(i));
    }

  }

  function updateMonth(month, year) {
    return new Date(year, month, 0).getDate();
  }

  function showDivs(){
    document.getElementById('userInformationConfirm').style.display ='block';   
    document.getElementById('searchTargets').style.display='block';
  }

</script>